
.userPart {
  display: flex;
  justify-content: center;
  gap: 2px;
  cursor: pointer;
  width: 100%;
  .username-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    color: black;
    transition: all 0.3s ease-in;
    font-weight: 500;
    &:hover {
      color: var(--primaryColorLight);
    }
  }
  .icon {
    font-size: 1.5rem;
    color: black;
    transition: all 0.3s ease-in;
    &:hover {
      color: var(--primaryColorLight);
    }
  }
  h6 {
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
      color: var(--primaryColorLight);
    }
  }
  &:hover {
    .icon {
      color: var(--primaryColorLight);
    }
    h6 {
      color: var(--primaryColorLight);
    }
  }
}
