.portfolio {
  .secContainer {
    gap: 2rem;
    .rightContent {
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        margin: auto;
        max-width: 100%;
        border-radius: 10px;
      }
    }
    .leftContent {
      .grid {
        .singlePortfolio {
          gap: 1rem;
          align-items: flex-start;
          .iconDiv {
            .desIcon {
              height: 50px;
              width: 50px;
            }
          }
          .info {
            h4 {
              padding-bottom: 0.5rem;
            }
          }
        }
      }
    }
  }
}
// media queries
@media screen and (max-width: 480px) {
  .portfolio {
    .secContainer {
      grid-template-columns: repeat(1, 1fr);
      .leftContent {
        .secHeading {
          h3 {
            font-size: var(--h2FontSize);
            text-align: center;
            color: var(--primaryColor);
          }
          p {
            font-size: var(--normalFontSize);
            padding: 0.5rem 0;
            text-align: center;
          }
        }
        .grid {
          .singlePortfolio {
            gap: 1.5rem;
            .iconDiv {
              img {
                height: 60px;
                width: 60px;
              }
            }
            .info {
              h4 {
                padding-bottom: 0.5rem;
                font-size: var(--h3FontSize);
              }
              p {
                font-size: var(--normalFontSize);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 765px) {
  .portfolio {
    .secContainer {
      .leftContent {
        .secHeading {
          h3 {
            font-size: 2rem;
          }
          p {
            font-size: var(--h2FontSize);
          }
        }
        .grid {
          grid-template-columns: repeat(2, 1fr);
          .singlePortfolio {
            gap: 1.5rem;
          }
        }
      }
      .rightContent {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          margin: auto;
          max-width: 80%;
          border-radius: 10px;
        }
      }
    }
  }
}
@media screen and (min-width: 820px) {
  .portfolio {
    .secContainer {
      grid-template-columns: repeat(2, 1fr);
      .leftContent {
        .secHeading {
          h3 {
            font-size: var(--h1FontSize);
            color: var(--primaryColor);
            text-align: center;
          }
          p {
            font-size: var(--h3FontSize);
            text-align: center;
          }
        }
        .grid {
          grid-template-columns: repeat(1, 1fr);
          .singlePortfolio {
            gap: 1.5rem;
            .info{
              p{
                font-size: var(--h3FontSize);
              }
            }
          }
        }
      }
      .rightContent {
        img {
          max-width: 100%;
          border-radius: 10px;
        }
      }
    }
  }
}
@media screen and (min-width: 1240px) {
  .portfolio {
    .secContainer {
      gap: 3rem;
      .leftContent {
        .secHeading {
          h3 {
            font-size: 2rem;
          }
          p {
            font-size: var(--h3FontSize);
          }
        }
        .grid {
          gap: 2.5rem;
          margin-top: 3rem;
          .singlePortfolio {
            gap: 2rem;
          }
        }
      }
    }
  }
}
