.review {
  display: flex;
  justify-content: center;
  align-items: center;
  .secContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    .textDiv {
      .redText {
        font-size: var(--smallFontSize);
        display: block;
        color: var(--primaryColor);
        font-weight: 700;
      }
      h3 {
        font-size: var(--h2FontSize);
        color: var(--blackColor);
      }
      p {
        color: var(--blackColor);
      }
      .stars {
        gap: 0.4rem;
        padding: 1rem 0;
        .icon {
          color: var(--primaryColor);
          font-size: var(--h3FontSize);
        }
      }
    
    }
    .review-stars{
      .icon{
        color: yellowgreen;
      }
    }
    .clientsImages {
      gap: 1rem;
      img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 2px solid rgb(255, 255, 255);
        box-shadow: 0 0 2px 2px rgb(251, 212, 194);
      }
    }
  }
  .imgDiv {
    height: 250px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
}
// media queries
@media screen and (min-width: 480px) {
  .review {
    .secContainer {
      .testDive {
        .redText {
          font-size: var(--normalFontSize);
        }
        h3 {
          font-size: 20px;
          color: var(--blackColor);
        }
        p {
          color: var(--blackColor);
          font-size: var(--normalFontSize);
        }
        .stars {
          .icon {
            font-size: var(--h2FontSize);
          }
        }
        .clientsImages {
          img {
            height: 50px;
            width: 50px;
          }
        }
      }
      .imgDiv {
        height: 250px;
        width: 100%;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
@media screen and (min-width: 740px) {
  .review {
    .secContainer {
      grid-template-columns: repeat(2, 1fr);
      .textDiv {
        .redText {
          font-size: var(--normalFontSize);
        }
        h3 {
          font: 20px;
          color: var(--normalFontSize);
        }
        p {
          color: var(--blackColor);
          font-size: var(--normalFontSize);
        }
        .stars {
          .icon {
            font-size: var(--h2FontSize);
          }
        }

      }
      .clientsImages {
        display: flex;
        gap:10px;
        img {
          height: 50px;
          width: 50px;
          object-fit: cover;
          border-radius: 100%;
          box-shadow: 0 0 5px green;
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .review {
    .secContainer {
      grid-template-columns: repeat(2, 1fr);
      .textDiv {
        .redText {
          font-size: var(--normalFontSize);
        }
        h3 {
          font: 20px;
          color: var(--normalFontSize);
        }
        p {
          color: var(--blackColor);
          font-size: var(--normalFontSize);
        }
        .stars {
          .icon {
            font-size: var(--h2FontSize);
          }
        }
        .clientsImages {
          background-color: black;
          img {
            height: 50px;
            width: 50px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1240px) {
  .review {
    display: flex;
    justify-content: center;
    align-items: center;
    .secContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .textDiv {
        .redText {
          font-size: var(--h1FontSize);
          text-align: center;
        }
        h3 {
          font-size: var(--h1FontSize);
          color: var(--blackColor);
          text-align: center;
        }
        p {
          color: var(--blackColor);
          font-size: var(--h3FontSize);
          line-height: 2rem;
          text-align: center;
        }
      }
    }
    .review-stars {
      display: flex;
      gap: 10px;
      .icon{
        color: yellow;
      }
    }
    .clientsImages {
      display: flex;
      gap: 20px;
      img {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        object-fit: cover;
        box-shadow: 0 0 10px var(--blackColor);
      }
    }
  }
}
