.review {
  .secContainer {
    grid-template-columns: repeat(1, 1fr);

    .textDiv {
      .redText {
        font-size: var(--smallFontSize);
        display: block;
        color: var(--primaryColor);
        font-weight: 700;
      }
      h3 {
        font-size: var(--h2FontSize);
        color: var(--blackColor);
      }
      p {
        color: var(--blackColor);
      }
      .stars {
        gap: 0.4rem;
        padding: 1rem 0;
        .icon {
          color: var(--primaryColor);
          font-size: var(--h3FontSize);
        }
      }
      .clientsImages {
        gap: 1rem;
        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          border: 2px solid rgb(255, 255, 255);
          box-shadow: 0 0 2px 2px rgb(251, 212, 194);
        }
      }
    }
  }
  .imgDiv {
    height: 250px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
}
// media queries
@media screen and (min-width: 480px) {
  .review {
    .secContainer {
      .testDive {
        .redText {
          font-size: var(--normalFontSize);
        }
        h3 {
          font-size: 20px;
          color: var(--blackColor);
        }
        p {
          color: var(--blackColor);
          font-size: var(--normalFontSize);
        }
        .stars {
          .icon {
            font-size: var(--h2FontSize);
          }
        }
        .clientsImages {
          img {
            height: 50px;
            width: 50px;
          }
        }
      }
      .imgDiv {
        height: 250px;
        width: 100%;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
@media screen and (min-width: 740px) {
  .review {
    .secContainer {
      grid-template-columns: repeat(2, 1fr);
      .textDiv {
        .redText {
          font-size: var(--normalFontSize);
        }
        h3 {
          font: 20px;
          color: var(--normalFontSize);
        }
        p {
          color: var(--blackColor);
          font-size: var(--normalFontSize);
        }
        .stars {
          .icon {
            font-size: var(--h2FontSize);
          }
        }
        .clientsImages {
          img {
            height: 50px;
            width: 50px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1240px) {
  .review {
    .secContainer {
      gap: 3rem;
      .textDiv {
        font-size: var(--h3FontSize);
      }
      h3 {
        font-size: var(--h1FontSize);
        color: var(--blackColor);
      }
      p {
        color: var(--blackColor);
        font-size: var(--h3FontSize);
        line-height: 2rem;
      }
    }
    .imgDiv {
      height: 300px;
    }
  }
}
