.container {
  .mainPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin: 2.5rem 0;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(128, 128, 128, 0.74);
  }
  .formImage {
    img {
      border-radius: 20px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.151);
      }
    }
  }
}
