.subscribe {
  .secContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 50px;
    box-shadow: 0 0 10px #00000080;
    img {
      // height: 300px;
      object-fit: cover;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      width: 100%;
    }
    .textDiv {
      text-align: center;
      padding: 10px;
      h4 {
        font-size: var(--h2FontSize);
        color: var(--blackColor);
      }
      p {
        padding: 1rem 0;
      }
      .btn {
        padding: 0.5rem 1rem;
        margin:auto
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .subscribe {
    .secContainer {
      img {
        width: 50%;
        // margin: auto;
        margin-left: 0;
      }
      .textDiv {
        h4 {
          font-size: 1.5rem;
        }
        p {
          padding: 1rem 0;
          font-size: var(--h3FontSize);
        }
        .btn {
          padding: 0.5rem 1rem;
          font-size: var(--h2FontSize);
        }
      }
    }
  }
}
@media screen and (min-width: 645px) {
  .subscribe {
    .secContainer {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      box-shadow: 0 0 10px #00000080;
      border-radius: 50px;
      padding: 0;
      img {
        width: 50% ;
        height: 100%;
        border-radius:50px;
      }
      .textDiv {
        width: 50%;
        h4 {
          font-size: 2rem;
        }
        p {
          padding: 1rem 0;
          font-size: var(--h3FontSize);
        }
      }
    }
  }
}
@media screen and (min-width: 1023px) {
  .subscribe {
    .secContainer {
      // background-color: white;
      display: flex;
      justify-content: space-between;
      // padding: 10px;
      padding: 0;
      box-shadow: 0 0 10px #00000080;
      border-radius: 50px;
      img {
        width: 45%;
        height: 100%;
        border-radius: 50px;
        margin: 0 !important;
      }
      .textDiv {
        width: 45%;
        height: 90%;
        padding: 10px 0;
        h4 {
          font-size: var(--h1FontSize);
        }
        p {
          padding: 1rem 0;
          font-size: var(--h2FontSize);
        }
      }
    }
  }
}
