.secContainer {
  .secTitle {
    .redText {
      color: var(--primaryColor);
    }
  }
}
.destinationContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secMenu {
  .flex {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1.2rem;
    flex-wrap: wrap;
    li {
      cursor: pointer !important;
      &:hover {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }
      transition: box-shadow 0.2s;
      padding: 10px;
      border-radius: 50px;
      min-width: 80px;
      text-align: center;
    }
    .active {
      background-color: var(--primaryColor);
      color: white;
      animation: activing 0.3s ease-in-out;
    }
  }
}
@keyframes activing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
