.containerAboutUs {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  position: relative;
  .Distance {
    background-image: url(../../assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // margin-top: 125px;
    height: 500px;
    width: 100%;
    z-index: -9999;
  }
  .aboutUsTitle {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 100px;
    h1 {
      color: white;
    }
  }
  .firstSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top:300px;
    background-color: wheat;
    box-shadow: 0 0 10px wheat;
    gap: 2.5rem;
    width: 90%;
    left: 50%;
    translate: -50% 0;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 20px;
    max-height: 400px;
    overflow-y: auto;
    .firstSection-aboutUs{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100%;
      .firstSection-aboutUs-title{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 20px;
        border-bottom:solid 2px red;
        padding: 10px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        &:hover{
          color: cadetblue;
        }
        .aboutUs--icon{
          font-size: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .aboutUs--title{
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
    .textContent {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      text-align: center;
      h1 {
        color: black;
      }
      p {
        color:black;
        font-weight: 500;
        font-size: 1.5rem;
      }
    }
    .firstSection-imgContainer {
      height: 100%;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }
    }
    .firstSection-content{
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: start;
      position: relative;
      .content--item{
        position: absolute;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        top: 0;
        h6{
          text-decoration: underline dashed;
        }
        p{
          font-size: 1rem;
        }
      }
    }
  }
  .secondSection {
    padding: 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
    margin-top: 160px;
    .textContent {
      background-color: wheat;
      border-radius: 20px;
      padding: 1.5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      min-height: 550px;
      height: 100%;
      .values-section{
        .values-card{
          background: rgba(255, 255, 255, 0.538);
          .ant-card-body{
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
        }
        .values-section-tag{
          padding: 10px;
          overflow-y: scroll;
          background: transparent;
          border: none;
        }
      }
      h1 {
        color: var(--h1FontSize);
      }
      p {
        color: var(--textColor);
        font-weight: 500;
        font-size: 1.5rem;
      }
    }
    .imgContainer {
      height: 100%;
      width: 50%;
      img {
        width: 100%;
        height: 550px;
        border-radius: 20px;
      }
    }
  }
}
@media screen and (min-width:767px) {
  .containerAboutUs{
    .firstSection{
      .firstSection-imgContainer{
        max-width: 400px;
        width: 100%;
        height: 300px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .firstSection-content{
        width: 100%;
      }
    }
  }
}
@media screen and (min-width:976px) {
  .containerAboutUs{
    .firstSection{
      display: flex;
      flex-direction: row;
      .firstSection-imgContainer{
        max-width: 400px;
        width: 100%;
        height: 300px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .firstSection-content{
        width: 100%;
        height: 100%;
        min-height: 300px;
      }
    }
  }
}
// active section
.active {
    color: rgb(110, 215, 218);
}